<div id="<%= dom_id credit_card %>">
  <p>
    <strong>Digits:</strong>
    <%= credit_card.digits %>
  </p>

  <p>
    <strong>Month:</strong>
    <%= credit_card.month %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= credit_card.year %>
  </p>

  <p>
    <strong>User:</strong>
    <%= credit_card.user_id %>
  </p>

</div>
