
<%= form_with model: [@product, @product.addcarts.build ] do |form| %>
  <div>
    <%= form.label :quantity%><br>
    <%= form.number_field :quantity, min: 1%>
  </div><br>
 
  <div>
    <%= form.label :Totalprice%>:  <%= @product.price %>
  </div><br>
  <button type="button" class="btn btn-outline-secondary"><%= form.submit 'Add To Cart'%></button>
  <br>

<% end %>



