<%= form_with model: companie do |form|%>
	<center>
	<div>
		<div>
			<%= form.label :name%><br>
			<%= form.text_field :name%><br>
		</div>

		<div>
			<%= form.label :category%><br>
			<%= form.text_field :category%><br>
		</div>

		<div>
			<%= form.label :city%><br>
			<%= form.text_field :city%><br>
		</div>

		<div>
			<%= form.label :country%><br>
			<%= form.text_field :country%><br>
		</div>

		<div>
			<%= form.label :owner%><br>
			<%= form.text_field :owner%><br>
		</div><br>
			<button style="/* position: absolute; *//* right: 0; */margin-bottom: 30px;margin-left: 38%;"><%= form.submit 'Company Create'%></button>

	</div></center>
	

		
<%end%>