<center><div>
	<p>
		<strong>Name:</strong>
		<%= @companie.name%>
	</p>

	<p>
		<strong>Category</strong>
		<%= @companie.category%>
	</p>

	<p>
		<strong>City:</strong>
		<%= @companie.city%>	
	</p>

	<p>
		<strong>Country:</strong>
		<%= @companie.country%>	
	</p>

	<p>
		<strong>Owner:</strong>
		<%= @companie.owner%>	
	</p>
</div></center>
