<table class="table">
  <thead  class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Company</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
    	<th scope="col">Image</th>
    </tr>
  </thead>
  <tbody>
  	<% @products.each do |prod| %>
	    <tr>
	      
				<td><%= prod.name%></td>
				<td><%= prod.catogery%></td>
				<td><%= prod.company%></td>
				<td><%= prod.description%></td>
				<td><%= prod.price%></td>

				<td><%= image_tag prod.image , class: "image" %></td>

	    </tr>
    <%end%>	
  </tbody>
</table>


