
<%= search_form_for @q do |form| %>
  
  <div class="form-group">
    <%#= form.label :product%>
    <%= form.text_field :name_cont, class: "form-control"%><br>
  </div>

  <div class="form-group">
    <%= form.submit class: "btn btn-primary btn-lg"%> 
  </div>
<%end%>
<div class="row">
<%if params[:success]%>
  <div class="alert alert-success mb-5" role = "alert">
    Thanks for your order
  </div>
<%end%>
<% @products.each do |prod| %>
  
  <div class="col-12 col-lg-4">
    <a target="_blank" href="<%= product_path(prod.id) %>">
      <div class="card text-center text-white" style="background-color:#ffa82e00;">
        <div class="card photo" class="card-img-top">
          <%= image_tag prod.image, height: 350, width: 350, crop: :fit if prod.image.attached? %>
          <div class="card-body">
            <h5 class="text-primary"><%=  prod.name %></h5>
            <p class="text-primary"><%= prod.catogery %></p>
            <p class="text-primary"><%= prod.company %></p>
            <p class="text-primary"><%= prod.description %></p>
            <p class="text-primary">Price: $<%= prod.price %></p>
            <%= button_to "Buy now", checkout_create_path,method: :post, data: {turbo: false}, params: {id: prod.id} %>
              <!-- <button type="button" class="text-primary"><%#= link_to "Add To Cart",new_product_addcart_path(prod.id)%></button> -->
    
          
          </div>
        </div>  
      </div>
      </a>
  </div>

<% end %>

<%= paginate @products %>
</div>