<h1><%= current_user.user_type %> Products</h1>

<ul>
	
	<li>
		<%= link_to "Add New Product", new_product_path if current_user.user_type == "seller" %>
	</li>
</ul>


<div class="row">
<% @products.each do |prod| %>
  <div class="col-12 col-lg-4">
      <div class="card text-center text-white" style="background-color:#ffa82e00;">
        <div class="card photo" class="card-img-top">
          <%= image_tag prod.image, height: 350, width: 350, crop: :fit if prod.image.attached? %>
          <div class="card-body">
            <h5 class="text-primary"><%=  prod.name %></h5>
            <p class="text-primary"><%= prod.catogery %></p>
            <p class="text-primary"><%= prod.company %></p>
            <p class="text-primary"><%= prod.description %></p>
            <p class="text-primary">Price: $<%= prod.price %></p>
            <button type="button" class="text-success"><%= link_to "Update Product", edit_product_path(prod) if current_user.user_type == "seller" %></button>
            <button type="button" class="text-danger"><%= link_to "Destroy", product_path(prod), data: {
			        turbo_method: :delete,
			        turbo_confirm: "Are you sure?" 
			      } if current_user.user_type == "seller"%> </button>|
			      


          </div>
        </div>  
      </div>
  </div>
<% end %>
</div>




