<strong><h1><%= notice%></h1></strong>
<center><h1>Product Details</h1></center>
 <center>
 <%binding.pry%>
 <% if @product.images.attached? %>
    <% @product.images.each do |image| %>
      <%= image_tag(image) %>
    <% end %>
<% else %>
  <p>No images uploaded.</p>
<% end %>
 
 
 <%#= image_tag @product.image, height: 350, width: 350, crop: :fit if @product.image.attached? %></center>

    <center><h5 class="text-primary"><%=  @product.name %></h5></center>
    <center><p class="text-primary"><%= @product.catogery %></p></center>
     <center><p class="text-primary"><%= @product.company %></p></center>
     <center><p class="text-primary"><%= @product.description %></p></center>
     <center><p class="text-primary">Price: $ <%= number_to_currency(@product.price) %></p></center>

<center><%if user_signed_in?%>
  <%if @product.liked?(current_user)%>
    <%= button_to "Like", like_path(@product), method: 'put',disabled: true%>
  <%else%>
    <%= button_to "Like",like_path(@product),method: 'put'%>
  <%end%>
<%end%>
</center>