<strong><h1><%= notice%></h1></strong>
<center><h1>Product Details</h1></center>
 <center><%= image_tag @product.image, height: 350, width: 350, crop: :fit if @product.image.attached? %></center>
    <center><h5 class="text-primary"><%=  @product.name %></h5></center>
    <center><p class="text-primary"><%= @product.catogery %></p></center>
     <center><p class="text-primary"><%= @product.company %></p></center>
     <center><p class="text-primary"><%= @product.description %></p></center>
     <center><p class="text-primary">Price: $ <%= number_to_currency(@product.price) %></p></center>
       <center><button type="button" class="text-primary"><%= link_to 'Add to Cart', add_to_cart_path(@product), method: :post%></button>
       	 <button type="button" class="text-primary"><%= link_to "Buy now", buy_path %></button>
       </center><br>
      <%= render 'shared/card_and_charge_form', product: @product %>
 
      <% if current_user.credit_cards.reject{ |card| card.new_record? }.any? %>
        <%= render 'shared/charge_form', product: @product %>
      <% end %>
       

<center><%if user_signed_in?%>
  <%if @product.liked?(current_user)%>
    <%= button_to "Like", like_path(@product), method: 'put',disabled: true%>
  <%else%>
    <%= button_to "Like",like_path(@product),method: 'put'%>
  <%end%>
<%end%>
</center>